@page
@model Pomodoro.Api.Pages.ResetPasswordModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Pomodoro | Reset Password</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            font-family: Arial, Helvetica, sans-serif;
        }

        h1 {
            color: crimson;
            text-decoration: underline;
            text-align: center;
        }

        .label {
            color: rgb(50, 102, 199);
            font-weight: 700;
        }

        td {
            padding: 10px;
            font-size: 20px;
        }

        input {
            padding: 5px
        }

            input:focus {
                background-color: lightblue;
            }

            input[type=submit] {
                background-color: crimson;
                border: none;
                color: white;
                font-weight: 700;
                padding: 10px 20px;
                font-size: 18px;
            }

                input[type=submit]:hover {
                    cursor: pointer;
                }

                input[type=submit]:disabled {
                    background-color: lightgray
                }

        #butRow {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Reset your password</h1>
        <form action="/api/account/resetpassword" method="post" id="form">
            <input type="hidden" name="Token" value="@Model.Token" />
            <input type="hidden" name="Email" value="@Model.Email" />
            <table>
                <tr>
                    <td class="label">
                        New Password
                    </td>
                    <td>
                        <input id="password" minlength="8" type="password" name="NewPassword" required />
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        Confirm Password
                    </td>
                    <td>
                        <input id="confirm" minlength="8" type="password" name="ConfirmPassword" required />
                    </td>
                </tr>
                <tr>
                    <td id="butRow" colspan="2">
                        <input id="submit" type="submit" value="Reset" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <script>
        const form = document.getElementById('form');
        const pass = document.getElementById('password');
        const conf = document.getElementById('confirm');
        const submit = document.getElementById('submit');
        submit.disabled = true;
        form.addEventListener('keyup', () => {
            if (pass.value.length > 7 && conf.value === pass.value){
                submit.disabled = false;
            } else {
                submit.disabled = true;
            }
        })
    </script>
</body>
</html>
